# verilog files
hack/hardware/src/verilog/*.o
hack/hardware/src/verilog/*.vcd
hack/hardware/src/verilog/*.out

# java files
hack/assembler/src/java/*.class
hack/assembler/src/java/*.MF
hack/assembler/src/java/*.jar
